.cart_section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    /* padding: 3em; */
}

.cart_section_bottle {
    margin-top: 3em;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: auto;
    grid-gap: 1rem;
}

.cart_piece {
    width: 100%;
    height: auto;
}

.cart_piece img {
    width: 100%;
    height: auto;
}

.loader_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 